body{
    background-color: rgb(243, 243, 243);
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: black;
}

.font-size {
    font-weight: 700;
    font-size: 2.5rem;
}

.image {
    float: right;
    box-shadow: 0 0 17px black;
    max-width: 220px;
    margin: 0 auto;
    margin-top: -20px;
    margin-right: 20px;
}

#f-size {
    font-size: 2rem;
    font-weight: bold;
}

#f-size-2 {
    font-size: 1.5rem;
    font-weight: bold;
}

hr {
    margin-top: -30px;
    border-top: 2px solid gray;
    border-radius: 50px;
}

li {
    font-size: 1.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
    background: orange;
    font-size: 1.5rem;
    margin: auto 0px;
}

footer a {
    color: rgb(243, 243, 243);
}

footer a:hover {
    color: #d6d6d6;
}

#lastupdate {
    font-size: 1.2rem;
    color: blue;
}
