.outer-border {
    background-color:#dbe4eb;
    width: 70%;
    margin-left: 15%;
}

.inner-border {
    border: 15px solid #873e23;
    padding: 15px;
    text-align: center;
}

hr {
    border: 1px solid #21130d;
    width: 70%;
}

#event {
    line-height: 3;
}